{% extends 'AppBundle:Login_Page:login.html.twig' %}

{% block form %}
    {% if error %}
        {% if error == "NONE" %}
            <div class="alert alert-success">Instructions have been sent to your email.</div>
        {% else %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
    {% endif %}
    <form role="form" action="{{ path('_login_resetpassword_post') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="E-mail" id="username" name="_username" value="{{ last_username }}" autofocus>
            </div>
            <div class="form-group">
                <button type="submit" name="submit" class="btn btn-lg btn-success btn-block" value="reset">Reset Password</button>
            </div>
        </fieldset>
    </form>
{% endblock %}