{% extends 'AppBundle:Errors:under_construction.html.twig' %}

{% block notice %}
    <h1>Your account has been disabled!</h1>
    <h3>Please contact us at <a href="mailto:admin@tabulit.com">admin@tabulit.com</a> to resolve your account</h3>
{% endblock %}