{% extends 'AppBundle:Errors:under_construction.html.twig' %}

{% block notice %}
    <h1>Please Login</h1>
    <h3>Please <a href="{{path('_login')}}">login</a> for full access to our website!</h3>
{% endblock %}